USE [master]
GO
/****** Object:  Database [AdventureQuestDB]    Script Date: 6/30/2020 4:01:52 PM ******/
CREATE DATABASE [AdventureQuestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AdventureQuestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AdventureQuestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AdventureQuestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AdventureQuestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AdventureQuestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AdventureQuestDB]
GO
/****** Object:  Table [dbo].[App_Users]    Script Date: 6/30/2020 4:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App_Users](
	[Email_Address] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Doctor_ID] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Records]    Script Date: 6/30/2020 4:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Records](
	[Patient_Number] [int] IDENTITY(1,1) NOT NULL,
	[Doctor_ID] [int] NULL,
	[First_Name] [varchar](50) NOT NULL,
	[Middle_Name] [nvarchar](50) NULL,
	[Last_Name] [varchar](50) NOT NULL,
	[Email_Address] [varchar](max) NOT NULL,
	[Home_Number] [varchar](50) NOT NULL,
	[Work_Number] [varchar](50) NULL,
	[Medication] [varchar](max) NULL,
	[Notes] [varchar](max) NULL,
	[Quest_List] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quests]    Script Date: 6/30/2020 4:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quests](
	[Doctor_ID] [varchar](50) NOT NULL,
	[Patient_Number] [int] NOT NULL,
	[Quest_Additional_Items] [varchar](max) NULL,
	[Quest_Description] [varchar](max) NOT NULL,
	[Quest_Difficulty] [varchar](50) NOT NULL,
	[Quest_LocationLat] [decimal](18, 0) NOT NULL,
	[Quest_LocationLong] [decimal](18, 0) NOT NULL,
	[Quest_Name] [varchar](50) NOT NULL,
	[Quest_Objectives] [varchar](max) NOT NULL,
	[Quest_Reward] [decimal](18, 0) NOT NULL,
	[Quest_Status] [varchar](50) NOT NULL,
	[Quest_Type] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Medical]    Script Date: 6/30/2020 4:01:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Medical](
	[Doctor_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](50) NOT NULL,
	[Last_Name] [varchar](50) NOT NULL,
	[Doctor_Email_Address] [varchar](max) NOT NULL,
	[Contact] [varchar](50) NULL,
	[Moderator] [varchar](50) NOT NULL,
	[Username] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Organization] [varchar](max) NULL,
	[P_List] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
