<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Bootstrap -->
		<link rel="stylesheet" href="messages/public/css/main.min.css" />
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
			integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
			crossorigin="anonymous"
		></script>
		<!-- Font Awesome -->
		<link rel="stylesheet" href="messages/public/css/all.min.css">
		<!-- Scripts -->
		<script src="messages/public/scripts/messages.js" defer></script>
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="messages/public/favicon.ico" />
		<!-- Custom Styles -->
		<link rel="stylesheet" href="messages/public/css/message.css" />
		<title>Adventure Quest | Records</title>
	</head>
	<body>
		<!-- Navbar -->
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/records">
					<img src="messages/public/img/logo.png" height="30" class="d-inline-block align-top" loading="lazy" />
				</a>
				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul id="top-nav" class="navbar-nav w-100 justify-content-end">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<%= user.username %> 
								<i class="fas fa-user ml-2"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a href="/records" class="dropdown-item"><i class="fas fa-home mr-1"></i> Dashboard</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/messages"><i class="far fa-envelope mr-1"></i> Messages</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt mr-1"></i> Logout</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End Navbar -->

		<!-- Messages -->
		<div id="container" class="container px-0">
			<table class="table table-hover my-5">
				<thead class="thead-dark">
					<tr>
						<th>Actions</th>
						<th>Subject</th>
						<th>Message</th>
					</tr>
				</thead>
				<tbody>
					<% for(const message of inbox) { %> 
						<tr>
							<td class="actions">
								<div><i class="fas fa-star mr-2"></i></div>
								<a href="<%= `/response/${message.threadID}` %>"><i class="fas fa-paper-plane mx-2"></i></a>
								<div><i class="fas fa-trash mx-2"></i></div>
							</td>
							<td>
								<div class="subject">
									<%= message.subject.slice(0, 50) %> 
								</div>
							</td>
							<td colspan="16">
								<div>
									<%= message.messages[(message.messages.length - 1)].message.slice(0, 100) %> 
								</div>
							</td>
						</tr>
					<% } %> 
				</tbody>
			</table>
		</div>
		<!-- End Messages -->
	</body>
</html>